{
  "extends": "plugin:shopify/react",
  "rules": {
    "camelcase": "off",
    "react/no-unsafe": "off",
    "react/jsx-no-bind": "off",
    "shopify/jsx-no-complex-expressions": "off",
    "import/no-anonymous-default-export": "off",
    "jsx-a11y/no-noninteractive-element-interactions": "off",
    "jsx-a11y/click-events-have-key-events": "off"
  }
}
