@import '../../assets/stylesheets/variables';

$badgeSize: 20px;
$badgeBorderSize: 2px;
$badgePositionRight: 50px;
$iconSize: $badgeSize + $badgeBorderSize;
$resultListWrapperBackgroundColor: rgba(0, 0, 0, 0.5);
$resultListWrapperMaxHeight: 360px;
$inputHeight: 50px;
$hideToTheTop: -5px;

.Search {
  display: flex;
  flex-direction: column;
}

.InputGroup {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.Input {
  padding: $spacing-tight $spacing-half-tight;
  padding-right: ($spacing * 3) + $spacing-tight;
  outline: none;
  font-size: 1.2em;
  font-weight: 500;
  color: $indigo;
  height: $inputHeight;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid $grey;
  border-radius: 0;
  transition-property: border;
  transition-duration: $duration;
  transition-timing-function: $easing;

  &:hover,
  &:focus {
    border-bottom: 1px solid $indigo-dark;
  }
}

.Icon {
  position: absolute;
  top: 50%;
  right: $spacing-half-tight;
  width: $iconSize;
  height: $iconSize;
  pointer-events: none;
  transform: translateY(-50%);
}

.SearchIcon {
  width: $iconSize;
  height: $iconSize;
  fill: $grey;
  transition-property: fill;
  transition-duration: $duration;
  transition-timing-function: $easing;
}

.SearchIconActive {
  fill: $indigo;
}

.Badge {
  position: absolute;
  top: 50%;
  right: $badgePositionRight;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  opacity: 0;
  border-radius: 5px;
  border: $badgeBorderSize solid;
  border-color: $grey;
  color: $grey;
  width: $badgeSize;
  height: $badgeSize;
  font-size: 0.5em;
  font-weight: 700;
  box-sizing: border-box;
  pointer-events: none;
  transform: translateY(-45%);
  transition-property: background-color, transform, opacity, border-color, color;
  transition-duration: $duration;
  transition-timing-function: $easing;
}

.BadgeActive {
  background-color: $indigo;
  border-color: $indigo;
  color: white;
}

.BadgeVisible {
  opacity: 1;
  transform: translateY(-50%);
}

.ResultListWrapper {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 3;
  margin-top: $inputHeight;
  opacity: 0;
  pointer-events: none;
  background-color: transparent;
  transition-property: background-color, opacity, height;
  transition-duration: $duration;
  transition-timing-function: $easing;
}

.ResultListWrapperActive {
  opacity: 1;
  pointer-events: all;
  height: calc(100% - #{$inputHeight});
  background-color: $resultListWrapperBackgroundColor;
}

.ResultList {
  list-style: none;
  max-height: 0px;
  opacity: 0;
  overflow-y: scroll;
  transition-property: max-height, opacity;
  transition-duration: $duration * 1.75;
  transition-timing-function: $easing;
}

.ResultListActive {
  opacity: 1;
  max-height: $resultListWrapperMaxHeight;

  & .ResultListItem, .ResultListNoResult{
    transform: translateY(0px);
  }
}

.ResultListItem, .ResultListNoResult {
  display: flex;
  height: $inputHeight;
  box-sizing: border-box;
  align-items: center;
  font-size: 1em;
  background-color: white;
  padding: $spacing-tight $spacing-half-tight;
  border-bottom: 1px solid $grey;
  transform: translateY($hideToTheTop);
  transition-property: transform, background-color;
  transition-duration: $duration;
  transition-timing-function: $easing;

  &:last-child {
    border-bottom: 0;
  }
}

.ResultListItem {
  color: $grey-dark;
  cursor: pointer;

  span:first-child {
    flex: 1;
    letter-spacing: 0.45px;
  }

  span:last-child {
    color: $grey-darker;
    text-transform: uppercase;
    font-size: 0.6rem;
    letter-spacing: 1px;
  }
}

.ResultListItemSelected {
  color: $grey-dark;
  background-color: $indigo-lighter;
}

.ResultListItemActive {
  color: white;
  background-color: $indigo;

  span:last-child {
    color: white;
  }
}

.ResultListNoResult {
  color: $grey;
  pointer-events: none;
}
